body {
    background-image: url("images/train-wallpaper.jpg");
    font: normal normal bold 25px/1 "londrina-solid", Helvetica, sans-serif;
}
.table-dark {
    color: black;
}
#mainContainer {
    width: 1000px;
    margin:0 auto;
}
#inputGroup {
    padding: 20px;
    margin: 45px 0 60px 0;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
    opacity: 0.79;
    border: none;
    font: normal normal bold 86px/1 "londrina-shadow", Helvetica, sans-serif;
    color: black;
    word-spacing: 10px;
    text-shadow: -6px -12px 16px rgba(0,0,0,0.5) ;
  
}
h2 {
    text-align: center;
    margin-bottom: 45px;
    margin-top: 20px;
    opacity: 0.79;
    border: none;
    font: normal normal bold 60px/1 "londrina-shadow", Helvetica, sans-serif;
    color: red;
    word-spacing: 10px;
    text-shadow: -6px -12px 16px rgba(0,0,0,0.5) ;
}
#input {
    color: red;
    opacity: 0.79;
    font: normal normal bold 40px/1 "londrina-solid", Helvetica, sans-serif;
}
#submit.btn:hover {
    color : orange;
    padding: 10px 15px;
}
input {
    opacity: .5;
}
#submit {
    opacity: .8;
    font: normal normal bold 25px/1 "londrina-solid", Helvetica, sans-serif;
    background: red;
    border: none;
}
#trains {
    background: none;
    border-color: none;
}
.table td, .table th {
    border-top:none;
}
.table thead th {
    border-bottom: none;
}